@import '../../stylesheets/variables';

.projects {
  padding-top: 60px;

  .projects__subtitle a {
    text-decoration: none;
    color: $color-pink;
    &:focus {
      outline: none;
      border: 1px solid $color-grey-dark;
    }
  }

  .skills__icons__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
  }
  .skills__icon {
    height: 75px;
    padding: 10px;
  }

  .projects__list {
    list-style: none;
    padding: 0;
    margin: 0 0 100px 0;
    display: grid;
    grid-template-columns: 1fr;

    @media all and (min-width: $bp-2){
    grid-template-columns: 1fr 1fr;
    }

    @media all and (min-width: $bp-3){
      grid-template-columns: 1fr 1fr 1fr;
      }
  }

  .projects__list__item {
    display: block;
    width: 250px;
  }
}