$color-teal: #2b7a78;
$color-teal-dark: #005662;
$color-teal-light: #3aafa9;
$color-black: black;
$color-silver: grey;
$color-pink: #f48fb1;
$color-white: #feffff;
$color-purple: purple;
$color-grey-dark: #17252a;
$color-grey-light: #def2f1;

$font-main: 'Kodchasan', sans-serif;

$font-sm: 14px;
$font-med: 18px;
$font-lg: 24px;
$font-xlg: 36px;
$font-xxlg: 48px;

$bp-1: 320px;
$bp-2: 768px;
$bp-3: 1024px;
$bp-4: 1440px;