$color-teal: lightseagreen;
$color-black: black;
$color-silver: grey;

$font-main: 'Kodchasan', sans-serif;

$font-sm: 14px;
$font-med: 18px;
$font-lg: 24px;
$font-xlg: 36px;

$bp-1: 320px;
$bp-2: 768px;
$bp-3: 1024px;
$bp-4: 1440px;