@import './variables';

body {
  margin: 0;
}

.app {
  font-family: $font-main;
  min-height: 100vh;

  .wrapper {
    box-sizing: border-box;
    height: 100%;
    margin: 0 20px;
  }

  @media all and (min-width: $bp-2) {
    .wrapper {
      margin: 0 45px;
    }
  }

  @media all and (min-width: $bp-3) {
    .wrapper {
      margin: 0 80px;
    }
  }

  @media all and (min-width: $bp-4) {
    .wrapper {
      max-width: 1000px;
      margin: auto;
    }
  }
}