@import '../../stylesheets/variables';

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 100px;
  background: $color-teal;
  border-radius: 10px;

  .contact__list {
    width: 100%;
    max-width: 600px;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-around;
  }
  
  .contact__list-item {
    font-size: $font-med;

    @media all and (min-width: $bp-2){
      font-size: $font-lg;
    }
    @media all and (min-width: $bp-3){
      font-size: $font-xlg;
    }
  }

  .contact__link {
    color: $color-grey-light;
    margin: 0;
    transition: ease 0.1s;
    display: inline-block;
    
    &:focus{
      outline: none;
      padding: 5px;
      border: 2px solid $color-black;
    }
    &:hover{
      color: $color-purple;
      transform: scale(1.2);
    }
  }
}