@import '../../stylesheets/variables';

.header {
  height: 50px;
  background: $color-teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu__list-item {
  font-size: 18px;
  padding-right: 30px;
}

.menu-link {
  text-decoration: none;
  color: $color-black;
}