@import '../../stylesheets/variables';

.header {
  height: 50px;
  width: 100%;
  background: $color-teal;
  box-sizing: border-box;
  position: fixed;
  opacity: 0.9;

  .header-wrapper {
    display: flex;
    flex-direction: column;
  }
  .menu__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .menu__list-item {
    font-size: $font-sm;
    padding-left: 15px;
    
  }
  .menu__list-item:nth-child(1) {
    padding: 0;
  }
  
  .menu-link {
    text-decoration: none;
    color: $color-black;
    display: inline-block;
    transition: ease 0.1s;
    &:focus{
      outline: none;
      border: 2px solid $color-grey-dark;
    }
    &:hover{
      color: $color-white;
      font-weight: bold;
      transform: scale(1.1);
    }
  }

  @media all and (min-width: $bp-2) {
    .header-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu__list-item {
      font-size: $font-med;
      padding-left: 20px;
    }
  }
  @media all and (min-width: $bp-3) {
    height: 75px;
    
    .menu__list-item {
      font-size: $font-lg;
      padding-left: 25px;
    }
  }
}